{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}
        <div class="container-fluid mt-3">
                <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ajouter une image</h4>
                                {{ include('admin/image/_form.html.twig', {'button_label': 'Valider'}) }}
                            </div>
                        </div>
                </div>
            </div>
{% endblock %}