.img-fluid {
    width: 500px;
}
.index {
      margin-left: 0rem;
}
.w3-white, .w3-hover-white:hover {
      color: #000;
      background-color: #fff;
}
.w3-margin {
      margin: 0px;
}
.w3-card-4, .w3-hover-shadow:hover {
      /** box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); **/
}

.w3-container, .w3-panel {
      padding: 0.01em 16px;
}
.w3-col.m8, .w3-twothird {
      width: 66.66666%;
}
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
      float: left;
      width: 100%;
}
.w3-card-4 img {
    width: 150%;
    margin-right: 0rem;
    width: 300px;
    height: 100%;
}
.w3-container {
    margin-right: 0rem;
    margin-left: 0rem;
}
.w3-container h3 {
    width: 20rem;
    width: 100%;
    font-weight: 600;
    margin-left: 0rem;
}
.w3-container h5 {
    width: 13rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.w3-col button {
    background-color: #5d7070;
    font-size: 0.8rem;
    font-weight: 600;
    
}
.w3-col a button {
    color: #a1c754 !important;
}
.w3-col a:hover button {
    background-color: #a1c754 !important;
    color: #5d7070 !important;
}
.w3-card-4 img {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    /** height: 100%; **/
    max-height: 80%;
    overflow:hidden;
}
.box img {
    object-fit: contain;
}
.logo-cnd-last {
    margin-top: -7rem;
    margin-left: 1rem;
}
@media screen and (min-width: 1024px) {
    .row {
          margin-top: 0rem;
          padding: 0rem;
    }
    .w3-container h3 b {
        width: 13rem;
    }
    .w3-container h5 b {
        width: 13rem;
    }
}
@media screen and (max-width: 480px)
{
    .card-resp {
        margin-left: 1rem;
        margin-right: 0rem;
    }
    .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .row > * {
        padding: 0rem;
    }
    .w3-container {
        margin-top: 1rem;
    }
    .w3-card-4 img {
        margin-right: 0rem;
        width: 100%;
    }
    .w3-container h3 {
        width: 23rem;
    }
    .w3-container h5 {
        width: 23rem;
    }
    .inner h2 {
        margin-bottom: 0rem;
    }
    .card-resp {
        margin-left: 1rem;
        margin-right: 0rem;
    }
    .logo-cnd-last {
        margin-top: -5rem;
        margin-left: 3rem;
    }
}
@media screen and (max-width: 736px) {
    .logo-cnd-last {
        margin-left: 2.5rem;
    }
    .w3-container h3 {
        width: 23rem;
    }
    .w3-container h5 {
        width: 23rem;
    }
    #header {
      margin-bottom: 5rem;
    }
    .wrapper.style1 > .top-responsive {
        padding-top: 0rem;
    }
}
@media screen and (max-width: 600px) {
    .inner h2 {
        margin-bottom: 0px;
    }
}