.index {
    margin-left: 0rem;
    margin-top: 0rem;
}
.index > * {
    padding-top: 1rem;
}
.content h1 {
    margin-top: 0rem;
}
.content p {
    margin-bottom: 1rem;
}
.index ul {
    margin-bottom: 1rem;
}
.content figcaption {
    margin-top: 0rem;
    font-weight: bold;
    font-size: 0.7rem;
    max-width: 350px;
}
.card-body-product {
    margin-top: 1.5rem;
    margin-top: -2.5rem;
    margin-left: 0.5rem;
}
.index > * {
    padding-top: 1rem;
}
.content h1 {
    margin-top: 0rem;
}
.content p {
    margin-bottom: 1rem;
}
.index ul {
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.content ul {
    margin-left: 2rem;
}
figure {
    margin-bottom: 0rem;
}
figure {
    width: auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
.content {
    margin-left: 5rem;
}
.card {
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.card-title {
    font-size: 0.9rem;
    color: #b4b4b4;
    max-width: 350px;
    max-height: auto;
    font-weight: normal;
}
.person {
    font-size: 0.7rem;
    color: #b4b4b4;
    max-width: 350px;
    max-height: auto;
    font-weight: 100;
}
.card-ttle a, a:hover, a:active{
    color: #b4b4b4;
}
.content .top-card-resp {
	margin-top: -2rem;
}
.fixe {
    bottom: 10%;
    position: fixed;
    padding-right: 4rem;
    max-width: 450px;
}
.card-title {
    margin-top: 0.5rem;
    margin-top: 0rem;
    margin-left: -0.5rem;
}
.type-product {
    line-height: 1.5;
    font-size: 1rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
}
.type {
    font-size: 0.8rem;
    color: #5d7070;
    max-width: 350px;
    max-height: auto;
    font-weight: 600;
  }
.sub-rub-abstract {
    font-size: 1rem;
    font-style: italic;
}
.img-fluid {
    max-width: 350px;
}
table td {
    vertical-align: top;
}
table tbody tr:nth-child(2n + 1) {
    background-color: #fff;
}
table tbody tr {
    border-color: #fff;
}
figcaption {
    max-width: 350px;
}
@media screen and (max-width: 480px) {
    .index {
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .content figcaption {
          margin-top: 0rem;
    }
    figure {
        margin-bottom: 0rem;
        width: 100%
    }
    .card-body-product {
        margin-top: -1rem;
        margin-left: 0.5rem;
    }
    .index > * > .content {
          margin-left: -1rem;
    }
    .img-fluid {
         max-width: 100%;

    }
    .card {
          margin-left: 0rem;
          margin-top: 0rem;
          margin-bottom: 0rem;
    }
    .card-title {
        font-size: 0.9rem;
        max-width: 250px;
    }
    .content figcaption {
        font-size: 0.9rem;
        max-width: 250px;
    }
    .person {
        font-size: 0.9rem;
        max-width: 350px;
    }
    .card-ttle a, a:hover, a:active{
        color: #b4b4b4;
    }
    table,tbody,tr,td { 
        display: block;
        width: auto!important;
    }
}
@media screen and (max-width: 834px) {
    .index {
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .content ul {
        margin-left: 1rem;
    }
    .index > * > .content {
          margin-left: -1rem;
    }
    .img-fluid {
         max-width: 100%;

    }
    .card {
          margin-left: 0rem;
          margin-top: 0rem;
          margin-bottom: 0rem;
    }
    .card-title {
        font-size: 0.9rem;
        max-width: 260px;
    }
    .content figcaption {
        font-size: 0.9rem;
        max-width: 260px;
    }
    .person {
        font-size: 0.9rem;
        max-width: 350px;
    }
    .card-ttle a, a:hover, a:active{
        color: #b4b4b4;
    }
    #figure {
        max-width: 280px;
        height: auto;
    }
    .accordion {
        margin-left: -1rem;
    }
    .fixe {
        display: none;
    }
    table,tbody,tr,td { 
        display: block;
        width: auto!important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .img-fluid {
         max-width: 70%;

    }
    .card {
          margin-left: 0rem;
    }
}

@media screen and (max-width: 1024px) {
    .index {
        margin-left: 1rem;
        margin-top: 0rem;
    }
}
@media screen and (min-width: 1024px) {
    .row {
        padding: 0rem;
    }
}

@media screen and (min-width: 1920px) {
    .fixe {
        max-width: 450px;
    }
}
@media screen and (max-width: 1680px) and (min-width: 769px) {
    .fixe {
        max-width: 360px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 769px) {
    .fixe {
        max-width: 308px;
    }
}
@media screen and (max-width: 980px) and (min-width: 769px) {
    .fixe {
        max-width: 245px;
    }
}



