{% extends 'admin/base.html.twig' %}

{% block title %}Modifier le dossier {{ dossier.titre }}{% endblock %}

{% block body %}
            <div class="container-fluid mt-3">
                <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Modifier le dossier « {{ dossier.titre }} »</h4>
                                {{ include('admin/dossier/_form.html.twig', {'button_label': 'Valider'}) }}
                            </div>
                        </div>
                </div>
            </div>
{% endblock %}
